[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/colorv"]
	path = bundle/colorv
	url = https://github.com/Rykka/colorv.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-wombat"]
	path = bundle/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/SQLUtil"]
	path = bundle/SQLUtil
	url = git://github.com/vim-scripts/SQLUtilities.git
[submodule "bundle/vim-distraction-free"]
	path = bundle/vim-distraction-free
	url = https://github.com/laktek/distraction-free-writing-vim.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim
[submodule "bundle/vim-fswitch"]
	path = bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/covim"]
	path = bundle/covim
	url = https://github.com/FredKSchott/CoVim.git
[submodule "bundle/pyflakes-pathogen"]
	path = bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "bundle/vim-nosecompiler"]
	path = bundle/vim-nosecompiler
	url = https://github.com/olethanh/Vim-nosecompiler.git
[submodule "bundle/vim-jedi"]
	path = bundle/vim-jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/bubblegum"]
	path = bundle/bubblegum
	url = https://github.com/baskerville/bubblegum.git
[submodule "bundle/mango"]
	path = bundle/mango
	url = https://github.com/goatslacker/mango.vim.git
[submodule "bundle/vim-kolor"]
	path = bundle/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
